<div>
  <div class="container">
    <div class="row">
      <% @tasks.each do |task| %>
        <div class="col-xl-3 col-sm-6">
          <div class="card" data-task-id="<%= task.id %>">
            <div class="card-body bg-light mb-3">
              <div class="card-header">
                <%= Task.model_name.human %>
                <%= task.name %>
              </div>
              <%= Task.human_attribute_name(:description) +":"  %>
              <%= url_to_links(task.description) %>
              <br>
              <%= Task.human_attribute_name(:importance)+":" %>
              <%= I18n.t(task.importance) %>
              <br>
              <%= I18n.t(:expiry) %>
              <%= task.expiry %>
              <br>
              <%= I18n.t(:done) %>
              <%= check_box("Done", 'boolean_attribute', {checked: task.done, disabled: true }) %>
              <br>
              <%= link_to I18n.t(:update_task), edit_task_path(id: task.id)%>
              <br>
              <button id="btnDelete"><%=I18n.t(:delete_task) %></button>
              <br>
              <!-- <%= button_to I18n.t(:delete_task), delete_task_path(id: task.id), method: :delete %> -->
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

