<nav class="navbar fixed-top navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-item">
      <%= button_to t(:new_task), new_task_url, :method => "get"%>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li>
      <%= t("lang") %>
      <%= link_to ("eng"), update_locale_path(locale: "en"), method: :post %>
      <%= link_to ("rus"), update_locale_path(locale: "ru"), method: :post %>
    </li>
    <li class="navbar-nav">
      <%= button_to(I18n.t(:log_out), destroy_user_session_path, method: :delete) %>
    </li>
  </ul>
</nav>
