<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCrud</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'tasks'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: "shared/navbar" if user_signed_in? %>
  </head>

  <body>
    <div class="general-page">
    <%= yield %>
    </div>
  </body>
</html>
